{
  "presets": [["env", { "loose": true, "modules": false }]],
  "plugins": ["transform-object-rest-spread"],
  "env": {
    "test": {
      "presets": ["env"]
    },
    "demo": {
      "presets": ["env", "react"],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        ["module-resolver", { "alias": { "redux-cached-api-middleware": "./es" } }]
      ]
    }
  }
}
