{
  "extends": ["@k.sh/eslint-config"],
  "env": {
    "browser": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["!src/*.js"]}],
    "import/no-unresolved": [2, { "ignore": ["redux-cached-api-middleware"]}],
    "react/require-default-props": [0]
  }
}
